[Unit]
Description = BMW Agent

[Service]
User=bmw
Type=simple
KillSignal=SIGINT
ExecStart=/usr/bin/python3 -u /opt/bmw-agent/agent.py

[Install]
WantedBy=multi-user.target
