[Unit]
Description = BMW Agent

[Service]
User=bmw
Type=simple
ExecStart=/usr/bin/python -u /opt/bmw-agent/agent.py

[Install]
WantedBy=multi-user.target
